body{
  margin: 0;
  background-color: #433B4F;
  font-family: 'runescape';
  color: yellow;
}

@font-face {
  font-family: 'spartan';
  src: url('Spartan.ttf');
  font-family: 'runescape';
  src: url('Runescape.woff') format('woff');
}