body{
  font-family: "spartan";
  margin: 0;
}

.header{
 background-color: #8EBA3E;
 height: 25vh;
 display: flex;
 align-items: center;
 justify-content: center;
 color: white;
}

.toptext h2{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.buttoncontainer{
  display: flex;
  align-items: center;
  justify-content: center;
}

.button{
  background-color: #8EBA3E;
  border-radius: 8px;
  width: 30vw;
  min-height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  text-align: center;
}

.button a{
  color: white;
  text-decoration: none;
}

.bottext{
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottext a, .bottext a:visited{
  color: #8EBA3E;
  text-decoration: none;
}

.footer{
  background-color: #EFEFEF;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.footer a{
  color: #8EBA3E;
  text-decoration: none;
}


